.agent {
    box-sizing: border-box;
}

.agent-content {
    box-sizing: border-box;
    overflow: hidden;
}

.layout-vertical {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}